.container {
    min-height: 100vh;
    background-color: #f0f2f5;
    font-family: 'Arial', sans-serif;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
}

.title {
    font-size: 2.5rem;
    color: #333;
    text-align: center;
    margin-bottom: 2rem;
}

.infoCard {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.inputGroup {
    margin-bottom: 1.5rem;
}

.label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #555;
}

.inputField {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.info {
    display: block;
    padding: 0.75rem;
    background-color: #f9f9f9;
    border-radius: 4px;
    font-size: 1rem;
}

.allergySelection {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
    gap: 0.5rem;
}

.allergyOption {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
}

.allergyCheckbox {
    margin-right: 0.5rem;
}

.buttonGroup {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;
}

.button {
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editButton {
    background-color:  #4c4cff;
    color: white;
}

.editButton:hover {
    background-color: #3838fb;
}

.saveButton {
    background-color: #492dac;
    color: white;
}

.saveButton:hover {
    background-color: #3838fb;
}

.cancelButton {
    background-color: #1818cd;
    color: white;
}

.cancelButton:hover {
    background-color: #3838fb;
}

.messageBox {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    text-align: center;
    margin-top: 2rem;
}

