.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* 화면의 전체 높이 */
    text-align: center;
    /*background-color: #f8f9fa;*/
    padding: 20px;
}

.welcomeText {
    font-size: 1.2em;
    color: #333;
    margin-bottom: 20px;
}

.allergyInfo {
    font-size: 1.1em;
    color: #555;
    margin-bottom: 20px;
}

.menuLink {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2em;
}

.menuLink:hover {
    text-decoration: underline;
}
