.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh; !* 화면의 전체 높이 *!*/
    text-align: center;
    /*background-color: #f8f9fa;*/
    padding: 0;
    margin-top: 30px;
}
.Informcontainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh; !* 화면의 전체 높이 *!*/
    text-align: center;
    /*background-color: #f8f9fa;*/
    padding: 0;
    margin-top: 30px;
}
.welcomeText {
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.allergyInfo {
    color: #303030;
    font-size: 17px;
    margin-top: 0px;
}

.menuLink {
    color: blue;
    text-decoration: none;
    font-weight: bold;
    margin-top: 20px;
    font-size: 1.2em;
}

.menuLink:hover {
    text-decoration: underline;
}

.abutton{

}